<!DOCTYPE html>
<html>
    <head>
        <script>
window.location.href = "https://accounts.google.com/o/oauth2/auth?access_type=offline&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fclassroom.courses%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fclassroom.coursework.me.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fclassroom.rosters.readonly&response_type=code&client_id=369311153247-2o4mim05lfflp6jcpmgack7u2apfhhb6.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Fteam-prestige-calderwhite.c9users.io%2Fapp%2Fauth"
        </script>
    </head>
    <body>
        <h1>Redirecting...</h1>
    </body>
</html>