<!DOCTYPE html>
<html>
  <head>
    <title>Classroom-Connect</title>
    <!-- Jquery !-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <!-- Boostrap after jquery !-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- 1st party stuff !-->
    <link rel="stylesheet" href="/assets/css/signup.css" type="text/css" />
  </head>
  <body>
    <h1>Classroom</h1>
    <p>{{auth_url}}</p>
  </body>
</html>