.row{
    margin:0px;
}
tbody > tr:
:not(#access_window){
    background:#F0F0F0;
}
/* getMatches styles */
/* main window */
#access_window{
    background:#F8F8F8;
    border:#F0F0F0;
}
#access_window > td{
    width:100%;
    position: relative;
}
/* loading animation */
.center{
    margin-left:auto;
    margin-right: auto;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  vertical-align: middle;
  position:relative;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.mini-loader{
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  height:88px;
  width:88px;
  position: absolute;
  margin:0px;
  top: 0px;
  left: 0px;
  margin-right: 1px;
  -webkit-animation: b-spin 1s linear infinite;
  animation: b-spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes b-spin {
  0% { -webkit-transform: rotate(-360deg); }
  100% { -webkit-transform: rotate(-720deg); }
}

@keyframes b-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}
/* crap */
.close.heavy::before, .close.heavy::after {
  height: 12px;
  margin-top: -6px;
}
.close.pointy::Before, .close.pointy::after {
  width: 200%;
  left: -50%;
}
.close {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  overflow: hidden;
  float:none;
  opacity: 1 !important;
}
.close::before, .close::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: red;
}
.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}